.about-section {
  width: 80vw;
  margin-top: 10vh;
  display: flex;
  justify-content: space-between;
  @include media(">=phone", "<lgphone") {
    flex-direction: column-reverse;
  }
  @include media(">=lgphone", "<tablet") {
    flex-direction: column-reverse;
  }
  @include media(">=tablet", "<desktop") {
    flex-direction: column-reverse;
    align-items: center;
  }
  .content {
    width: 60%;
    padding-top: 90px;
    @include media(">=phone", "<lgphone") {
      width: 100%;
    }
    @include media(">=lgphone", "<tablet") {
      width: 100%;
    }
    @include media(">=tablet", "<desktop") {
      width: 100%;
    }

    h1 {
      font-size: 4rem;
      color: #322522;
      line-height: 2rem;
      overflow: visible;
      @include media(">=phone", "<tablet") {
        text-align: center;
        line-height: 1rem;
        font-size: 2rem;
      }
      @include media(">=tablet", "<desktop") {
        text-align: center;
      }
    }

    p {
      color: #322522;
      margin-top: 5em;
      text-align: left;
      font-size: 16px;
      @include media(">=phone", "<desktop") {
        text-align: center;
        font-size: 14px;
        justify-content: center;
      }
    }
  }
  .image-wrapper {
    width: 70%;
    height: auto;
    display: flex;
    align-items: right;
    justify-content: right;
    overflow: hidden;
    @include media(">=phone", "<lgphone") {
      width: 100%;
    }
    @include media(">=lgphone", "<tablet") {
      width: 100%;
    }
    @include media(">=tablet", "<desktop") {
      width: 100%;
    }
  }
}
