.header-wrapper {
  margin-top: 3em;
  width: 70vw;
  display: flex;
  flex-direction: column;
  align-items: center;

  h1 {
    font-family: "questa-sans";
    font-size: 50px;
    color: #322522;
  }

  h2 {
    font-size: 1rem;
    text-align: center;
    color: #322522;
    @include media(">=phone", "<lgphone") {
      font-size: 14px;
    }
    @include media(">=lgphone", "<tablet") {
      font-size: 16px;
    }
    @include media(">=tablet", "<desktop") {
      font-size: 16px;
    }
  }

  p {
    margin-top: 1px;
    width: 60%;
    text-align: center;
    color: #322522;
    overflow: hidden;
    @include media(">=phone", "<lgphone") {
      font-size: 12px;
      width: 100%;
    }
    @include media(">=lgphone", "<tablet") {
      font-size: 12px;
      width: 100%;
    }
    @include media(">=tablet", "<desktop") {
      font-size: 14px;
      width: 100%;
    }
  }
}

img {
  max-width: 70vh;
}
